html {
    font-family: Arial, Helvetica, sans-serif;
}

section::after {
    padding: 20px;
    content: '';
}
section::before {
    padding: 20px;
    content:'';
}

.main {
    margin: 30px;
    padding: 40px;
    background-color: aliceblue;
}
.heading {
    text-align: center;
}
.wrapper {
    display: flex;
    width: 600px;
    border: 1px solid grey;
    padding: 10px;
    margin: auto;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    box-shadow: 5px 5px grey;
}
.wrapper-row {
    display: flex;
}
.wrapper-row:first-child {
    background-color: #0000ff5e;
}

.item {
    margin: 10px;
    padding: 10px;
    flex: 1;
}
.title {
    font-weight: bold;
}
